Source: distkeys
Section: admin
Priority: extra
Maintainer: Martin Steigerwald <ms@teamix.de>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.6
Homepage: https://www.teamix.org/projects/distkeys
Vcs-Git: https://github.com/teamix/atop-debian.git
Vcs-Browser: https://github.com/teamix/atop-debian

Package: distkeys
Architecture: all
Depends: ${misc:Depends}, ruby, ruby-net-ssh, ruby-net-ssh-gateway, ruby-net-sftp, ruby-termios
Description: SSH key distribution
 Distkeys distributes a list of SSH public keys to a list of servers. It
 reaches servers behind a firewall as well. Furthermore it can also
 execute a command or a script on a list of servers and can also list
 host or authentication keys.
